*{
    margin:0px;
    padding:0px;
    -webkit-overflow-scrolling:touch;
    -webkit-tap-highlight-color:transparent;
    -webkit-touch-callout: none;
    box-sizing: border-box;
}

:not(textarea,input) {
    -webkit-user-select: none;
}

html, body{
    width: 100%;
    height: 100%;
    font-size: 20px;
    color: #5c5c5c;
    overflow: hidden;
}

.red{
    color: #ff0000;
}

.blue{
    color: #00b7ee;
}

button{
    border: 0;
    outline : 0;
    background: #ffffff;
}

input{
    padding: 0 0.5rem;
    outline : 0;
}

a{
    text-decoration:none;
}

.container{
    width: 100%;
    height: 100%;
//  overflow: hidden;
}

.high{
    font-size: 0.8rem;
    font-weight: bold;
}

.clear{
    clear: both;
}

//标题
.f-t{
  font-size: .75rem;
  color: #35353f;
}

//内容
.f-c{
    font-size: 0.6rem;
    color: #808080;
    line-height: 0.85rem;
}

.no-wrap{
    overflow:hidden;
    text-overflow:ellipsis;
    white-space:nowrap;
}

#app{
    width:100%;
    height: 100%;
    position: relative;
    font-size: 1rem;
}

.lt-wrap{
    position: relative;
    overflow: hidden;
    width: 100%;
    min-height: 100%;
}

.popup-container{
    position: fixed;
    width: 100%;
    height: calc(100% - 3.2rem);
    top: 3.2rem;
    left: 0;
    z-index: 999;
}

.container-height{
    height: calc(100% - 3.2rem);
}