.app-header{
    width: 100%;
    padding-top: 1rem;
    background-color: #fff;

    div{
        width: 100%;
        height: 2.2rem;
        line-height: 2.2rem;
        position: relative;

        button{
            position: absolute;
            top: 0;
            left: 0;
            min-width: 2.5rem;
            height: 100%;
            background: url(../../static/images/common/header-btn-back.png) no-repeat 0.75rem center;
            background-size: 0.5rem 0.9rem;
            z-index: 9;
            padding-left: 1.25rem;
        }

        span{
            display: inline-block;
            width: 100%;
            height: 100%;
            text-align: center;
            font-size: 0.9rem;
            color: #35353f;
        }
    }
}