.alert-success-skin{

  .alert-success-container{
    width: 15rem;
    height: 12.5rem;
    border-radius: 0.5rem;
    background-color: #ffffff;
    padding-top: 2rem;
    position: absolute;
    left: calc(50% - 7.5rem);
    top: 18%;
    text-align: center;

    .alert-success-icon{
      width: 4.2rem;
      height: 3.325rem;
      background: url(../../../static/images/common/alert-success-icon.png) no-repeat center;
      background-size: 100%;
      margin: 0 auto;
    }

    .alert-success-tip{
      font-size: 0.8rem;
      color: #5c5c5c;
      margin-top: 1rem;
    }


    .alert-button-ok {
      width: 80%;
      height: 2rem;
      line-height: 2rem;
      text-align: center;
      border-radius: 0.5rem;
      background-color: rgba(0,0,0,0);
      font-size: 0.8rem;
      color: #00b7ee;
      border: 0.05rem solid #00b7ee;
      margin-top: 1.8rem;
    }
  }
}