.home-menu-item{
    width: 50%;
    float: left;
    position: relative;
    text-align: center;
    padding-bottom: 0.75rem;
    border-right: 0.05rem solid #ececec;
    border-bottom: 0.05rem solid #ececec;

    .icon{
        width: 100%;
        height: 2rem;
    }

    .item-name{
        margin-top: 0.5rem;
        color: #000000;
        font-size: 0.75rem;
    }

    .item-desc{
        margin-top: 0.25rem;
        color: #a3a3a3;
        font-size: 0.6rem;
    }

    .now-footer-txt{
        display: initial !important;
    }

    .head-icon{
        background: url(../images/head-icon.png) no-repeat center bottom;
        background-size: 1.3rem;
    }

    .foot-icon{
        background: url(../images/foot-icon.png) no-repeat center bottom;
        background-size: 1.3rem;
    }

    .credible-icon{
        background: url(../images/credible-icon.png) no-repeat center bottom;
        background-size: 1.3rem;
    }

    .trade-icon{
        background: url(../images/trade-icon.png) no-repeat center bottom;
        background-size: 1.3rem;
    }

    .risk-icon{
        background: url(../images/risk-icon.png) no-repeat center bottom;
        background-size: 1.3rem;
    }

    .user-icon{
        background: url(../images/user-icon.png) no-repeat center bottom;
        background-size: 1.3rem;
    }
    
    .broadcast-icon{
        background: url(../images/broadcast-icon.png) no-repeat center bottom;
        background-size: 1.3rem;
    }

    .wait-icon{
        background: url(../images/wait-icon.png) no-repeat center bottom;
        background-size: 1.3rem;
    }
}

.home-menu-item.disable{
    .icon{
        opacity: 0.5;
        -webkit-opacity: 0.5;
    }
}