.home-help-container{
  background: rgba(0,0,0,0.8);
  z-index: 999;

  .home-help-div{
    width: 90%;
    background: #ffffff;
    border-radius: 0.25rem;
    margin: 0 auto;
    margin-top: 1.5rem;
    height: calc(100% - 5rem);
    overflow: initial;
    position: relative;
  }

  .home-help-content{
    width: 100%;
    height: 100%;
    padding: 1.25rem 1rem;
    font-size: 0.7rem;
    color: #35353f;
    line-height: 1rem;

    .title{
      font-size: 0.8rem;
      margin-bottom: 1rem;
    }

    .item{
      margin-bottom: 0.8rem;
    }

    .icon{
      width: 0.5rem;
      height: 0.5rem;
      border-radius: 0.5rem;
      display: inline-block;
      margin-right: 0.75rem;
    }

    .s1{
      background-color: #dd000a;
    }
    .s2{
      background-color: #ff0000;
    }
    .s3{
      background-color: #ff5800;
    }
    .s4{
      background-color: #48e22a;
    }
    .s5{
      background-color: #3be1fa;
    }
    .s6{
      background-color: #00a2ff;
    }
    .s7{
      background-color: #6000ff;
    }
  }

  .home-help-btn-close{
    width: 2.25rem;
    height: 2.25rem;
    background: url(../../../static/images/common/btn-white-close-new.png) no-repeat center;
    background-size: 100%;
    margin: 0 auto;
    margin-top: 0.5rem;
    display: block;
  }
}