.ios-switch{
  display: inline-block;
  width: 2.75rem;
  height: 1.25rem;
  position: relative;
  vertical-align: middle;

  input[type="checkbox"]
  {
    width: 100%;
    height: 100%;
    position: absolute;
    opacity: 0;
  }

  /* Normal Track */
  input[type="checkbox"] + div
  {
    vertical-align: middle;
    width: 100%;
    height: 100%;
    border: 0.05rem solid #bbbbbb;
    border-radius: 1.25rem;
    background-color: #bbbbbb;
    -webkit-transition-duration: .4s;
    -webkit-transition-property: background-color, box-shadow;
    box-shadow: inset 0 0 0 0px #bbbbbb;
  }

  /* Checked Track (Blue) */
  input[type="checkbox"]:checked + div
  {
    width: 100%;
    background-position: 0 0;
    background-color: #4cd964;
    border: 0.05rem solid #4cd964;
    box-shadow: inset 0 0 0 0.5rem #4cd964;
  }

  /* Big Track */
  input[type="checkbox"].bigswitch + div
  {
    width: 100%;
    height: 100%;
  }

  /* Normal Knob */
  input[type="checkbox"] + div > div
  {
    float: left;
    width: 0.9rem;
    height: 0.9rem;
    border-radius: inherit;
    background: #ffffff;
    -webkit-transition-timing-function: cubic-bezier(.54,1.85,.5,1);
    -webkit-transition-duration: 0.4s;
    -webkit-transition-property: transform, background-color, box-shadow;
    -moz-transition-timing-function: cubic-bezier(.54,1.85,.5,1);
    -moz-transition-duration: 0.4s;
    -moz-transition-property: transform, background-color;
    //box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3), 0px 0px 0 1px rgba(0, 0, 0, 0.4);
    pointer-events: none;
    margin-top: 0.05rem;
    margin-left: 0.05rem;
  }

  /* Checked Knob (Blue Style) */
  input[type="checkbox"]:checked + div > div
  {
    -webkit-transform: translate3d(22px, 0, 0);
    -moz-transform: translate3d(22px, 0, 0);
    background-color: #ffffff;
    //box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3), 0px 0px 0 1px #4cd964;
  }

  /* Big Knob */
  input[type="checkbox"].bigswitch + div > div
  {
    width: 1.15rem;
    height: 1.15rem;
    margin-top: 0;
    background: url(../../static/images/common/inputSwitch_off.png) no-repeat center;
    background-size: 50%;
    background-color: #ffffff;
  }

  input[type="checkbox"].bigswitch + div > span
  {
    width: 100%;
    height: 1.15rem;
    line-height: 1.3rem;
    position: absolute;
    top: 0;
    left: 0;
    padding: 0 0.35rem;
    color: #ffffff;
    pointer-events: none;
    font-size: 0.6rem;
  }

  input[type="checkbox"].bigswitch + div > span.on
  {
    display: none;
    text-align: left;
  }

  input[type="checkbox"].bigswitch + div > span.off
  {
    display: inline-block;
    text-align: right;
  }

  /* Checked Big Knob (Blue Style) */
  input[type="checkbox"].bigswitch:checked + div > div
  {
    -webkit-transform: translate3d(1.5rem, 0, 0);
    -moz-transform: translate3d(1.5rem, 0, 0);
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3), 0px 0px 0 1px #4cd964;
    background: url(../../static/images/common/inputSwitch_on.png) no-repeat center;
    background-size: 50%;
    background-color: #ffffff;
  }

  input[type="checkbox"].bigswitch:checked + div > span
  {
    right: 0;
    padding-right: 0.35rem;
  }

  input[type="checkbox"].bigswitch:checked + div > span.on
  {
    display: inline-block;
    text-align: left;
  }

  input[type="checkbox"].bigswitch:checked + div > span.off
  {
    display: none;
    text-align: right;
  }
}