#safety-grade-view{
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: #eeeef3;
}

.safetyGrade-container{
  position: relative;
  overflow: auto;

  .safetyGrade-top-div{
    width: 100%;
    padding: 1.25rem 0;
    background: #ffffff;

    .safetyGrade-bg{
      width: 100%;
      height: 10.75rem;
    }

    .safetyGrade-title{
      margin-top: 1rem;
      line-height: 1rem;
      font-size: 0.7rem;
      text-align: center;
    }
  }

  .safetyGrade-top-div.open{
    .safetyGrade-bg{
      background: url(./images/open-advance-bg.png) no-repeat center;
      background-size: auto 100%;
    }

    .safetyGrade-title{
      color: #63c228;
    }
  }

  .safetyGrade-top-div.close{
    .safetyGrade-bg{
      background: url(./images/close-advance-bg.png) no-repeat center;
      background-size:  auto 100%;
    }

    .safetyGrade-title{
      color: #fd472b;
    }
  }

  .safetyGrade-list-title{
    font-size: 0.6rem;
    color: #90909b;
    display: block;
    margin-top: 2rem;
    margin-bottom: 0.25rem;
    padding-left: 0.75rem;
  }

  .safetyGrade-list{
    margin-top: 0.5rem;
    background: #ffffff;
  }

  .safetyGrade-item{
    padding-left: 0.75rem;
    width: 100%;
    height: 2.5rem;
    border-bottom: 0.05rem solid #d2d2d2;
    font-size: 0.7rem;
    color: #000000;
    line-height: 2.5rem;
  }
}

