  .rick-item{
    width: 100%;
    background: #ffffff;
    padding: 0 1rem;
    margin-bottom: 0.5rem;

    .rick-item-title-div{
      width: 100%;
      height: 2.25rem;
      line-height: 2.25rem;
      position: relative;

      span{
        font-size: 0.7rem;
        color: #35353f;
      }

      .button{
        position: absolute;
        right: 0rem;
        top: 0.5rem;
      }
    }

    .risk-item-line{
      width: 100%;
      height: 0.05rem;
      border-bottom: 0.05rem solid #e2e2e2;
    }

    .risk-item-div{
      width: 100%;
      font-size: 0.7rem;
      color: #35353f;

      .risk-item-subTitle-div{
        width: 30%;
        line-height: 2.25rem;
        float: left;
      }

      .risk-item-selected-div{
        width: 70%;
        display: inline-block;

        .risk-item-select-item{
          width: 100%;
          height: 2.25rem;
          line-height: 2.25rem;
          display: inherit;
        }
      }
      .cityLabel{
        width: calc(100% - 1rem);
        height: 100%;
        text-align: right;
        overflow : hidden;
        text-overflow:ellipsis;
        -o-text-overflow:ellipsis;
        -webkit-text-overflow:ellipsis;
        -moz-text-overflow:ellipsis;
        white-space:nowrap;
        float: left;
      }

      .arrow-right-icon{
        width: 0.6rem;
        height: 100%;
        background: url(../../../static/images/common/down-arrow.png) no-repeat center;
        background-size: 0.6rem 0.35rem;
        float: right;
        transform: rotate(-90deg);
      }

      span{
        width: 100%;
        display: inline-block;
      }

      select{
        width: 100%;
        height: 100%;
        color: #35353f;
        border: 0;
        outline:none;
        background: transparent;
        appearance:none;
        -moz-appearance:none;
        -webkit-appearance:none;
        background: url(../../../static/images/common/down-arrow.png) no-repeat right center transparent;
        background-size: 0.6rem 0.35rem;
        padding-right: 1rem;
      }
    }
  }