.clauseMask{
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.5);
}

.clause-container{
  width: 90%;
  height: 100%;
  position: relative;
  margin: 0 auto;
  padding-top: 5%;

  .clause-content-div{
    width: 100%;
    height: 80%;
    border-radius: 0.5rem;
    background-color: #ffffff;
    padding-top: 1.5rem;
    padding-bottom: 1rem;
    border: 0.05rem solid #9c9c9c;
    position: relative;
  }

  .clause-title{
    width: 100%;
    font-size: 0.9rem;
    color: #323232;
    font-weight: bold;
    text-align: center;
  }

  .clause-content{
    margin-top: 10%;
    padding: 0 1rem;
    font-size: 0.7rem;
    line-height: 0.9rem;
    color: #35353f;
    overflow-y: auto;
    height: calc(100% - 2rem);

    .bold{
      font-weight: bold;
    }
  }

  .clause-btn-close{
    width: 2.25rem;
    height: 2.25rem;
    background: url(../../../static/images/common/btn-white-close-new.png) no-repeat center;
    background-size: 100%;
    margin: 0 auto;
    margin-top: 1rem;
  }
}