.alert-auto-close-skin{
    width: 100%;
    height: 100%;
    transition : all 0.5s ease-in-out;

    .alert-auto-close-container{
        width: 100%;
        padding: 1rem;
        background: rgba(0,0,0,0.6);
        font-size: 1rem;
        color: #ffffff;
        text-align: center;
        position: absolute;
        top: 30%;
    }
}