.alert-message-code-skin{
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 999;
  background: rgba(0,0,0,0.5);

  .phone-div{
    line-height: 1rem;
    padding: 1rem;
    font-size: 0.75rem;
    color: #35353f;

    .phone-txt{
      color: #3692fc;
    }
  }

  .code-div{
    padding: 0 1rem;

    .code-input{
      width: calc(100% - 4.5rem);
      height: 1.5rem;
      border: 0;
      border-top-left-radius: 0.25rem;
      border-bottom-left-radius: 0.25rem;
      outline: none;
      font-size: 0.7rem;
      color: #90909b;
      background-color: #ededed;
      float: left;
    }

    .btn-send{
      width: 4.5rem;
      height: 1.5rem;
      line-height: 1.5rem;
      background: #7bcf54;
      border-top-right-radius: 0.25rem;
      border-bottom-right-radius: 0.25rem;
      text-align: center;
      color: #ffffff;
      font-size: 0.7rem;
      float: left;
    }

    .btn-send:disabled{
      background-color: #d2d2d2;
    }
  }

  .alert-button-div{
    padding: 1rem;

    button{
      width: 48%;
      height: 1.75rem;
      line-height: 1.75rem;
      border-radius: 1.75rem;
    }

    .alert-button-yes{
      border: 0.05rem solid #3692fc;
      color: 3692fc;
      background: #ffffff;
      float: right;
    }

    .alert-button-close{
      color: #ffffff;
      background: #3692fc;
      float: left;
    }
  }
}